/* Overall Declarations */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* header section/ .blueBg common to both header and footer  section */
.blueBg {
  background-color: #085070;
  color: #ffffff;
  text-align: center;
}

/* .blueBg h1 to target Header text  */

.blueBg h1 {
  padding: 15px 0;
  font-size: 50px;
}

.missingpuppy {
  padding-top: 12%;
  padding-top: 135px;
  background-color: #f04d65;
  margin: 0 3%;
}

.missingpuppy p {
  text-align: center;
  font-size: 30px;
  color: #000000;
}

.heading h2 {
  text-align: center;
  color: #000000;
  font-size: 40px;
}

/* target last two puppies to adjust their margins */
.all .puppy-3 {
  margin-right: 5%;
}

.all .puppy-4 {
  margin-left: 5%;
}

.blueBg p {
  font-size: 35px;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
}
